<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> I'm a current Industrial Management student at New York University with Finance and Business Analytics background. 
          I am seeking opportunities in Energy and Utility industries to incorporate my financial knowledge and analytical skills.</p>
      </div>
      <div class="col-lg-4">
        <p>With a strong foundation in data analysis, combined with my work experiences in digitalization within the mining industry and energy innovation. 
          I am happy to explore new opportunities in analyst and consultant roles! </p>
      </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
  <p>
    <strong>Data Analytics:</strong> Tableau | SQL | Python | R | Alteryx | KNIME | Power BI<br>
    <strong>Machine Learning:</strong> Logistic Regression, Decision Tree, Random Forests,<br> XGBoost, K-Means, A/B Testing, Clustering
  </p>
        </a>
      </div>
    </div>
  </div>
</section>
